:root {
  /* creating custom property values / variables */
  --font-family: "Roboto Mono", monospace, san-serif;
  --box-shadow: 0 0 2rem -5px rgba(105, 105, 105, 0.26);
  --fluid-text-0: clamp(1rem, calc(0.96rem + 0.22vw), 1.13rem);
  --fluid-text-1: clamp(1.2rem, calc(1.1rem + 0.52vw), 1.5rem);
  --fluid-text-2: clamp(1.44rem, calc(1.25rem + 0.97vw), 2rem);
  --fluid-text-3: clamp(1.73rem, calc(1.4rem + 1.63vw), 2.66rem);
  --body-text-clamp: clamp(1.6rem, calc(1.8rem + 0.97vw), 2rem);
  --header-bg: rgba(223, 247, 254, 0.7);
  --section-bg: rgba(17, 31, 45, 0.5);
  --section-header: linear-gradient(147deg, #ffb99a 0%, #ffdbc5 100%);
  --bg-color: #fff0e0;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 50%;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-size: var(--fluid-text-2);
  background-image: var(--bg-img);
  background-size: cover;
  /* background-repeat: no-repeat; */
}

header,
footer {
  background-color: var(--header-bg);
  backdrop-filter: blur(6px);
}

header {
  font-size: var(--fluid-text-2);
  padding: 1em;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;

}

header img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

header span {
  font-size: 3.5rem;
}

.img-box {
  max-width: 25%;
}

/*
ul {
  list-style: none;
}

nav {
  background-color: #151515;
  color: #fff;
  position: relative;
  display: grid;
}


nav ul {
  text-align: center;
}

nav ul li {
  padding: 1rem 2rem;
  cursor: pointer;
}

nav ul li a:link,
nav ul li a:visited {
  color: #e6e6e6;
  text-decoration: none;
}

nav ul li:hover {
  background-color: #7b7b7b;
  color: #7b7b7b;
}

nav ul li a:hover {
  color: #000;
}
*/


nav {
  background-color: #151515;
  
}

#hamburger-toggle::before {
 content: "\2630";
}

.navigation li {
  display: block;
  width: 100%;
  text-align: center;
}

#hamburger-toggle {
  font-size: 3rem;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  width: 100%;
  text-align: right;
  padding: .25rem 2vw;
}

ul.navigation li a {
  display: block;
  padding: .75rem 2vw;
  color: #fff;
  text-decoration: none;
}

ul.navigation a:hover {
  background-color: #7b7b7b;
}

ul.navigation li a.active {
  background-color: brown;
}

ul.navigation {
  display: none;
  list-style-type: none;
}

#hamburger-toggle.open::before {
  content: "x";
}

ul.navigation.open {
  display: block;
}


main {
  color: var(--bg-color);
  padding: 2rem;
}

.info-box {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5rem;
}

figure {
  position: relative;
}

figure,
main h1 {
  margin-block-end: 1em;
}

figure img {
  width: 100%;
  height: auto;
}

figcaption {
  position: absolute;
  top: 20%;
  left: 10%;
  transform: translate(-10%, -10%);
  color: #000;
  background-color: var(--bg-color);
  padding-inline: 2em;
  padding-block: 2em;
  font-weight: 600;
  text-shadow: -1rem 2px 2rem;
}



main h1 {
  font-size: 24px;
  color: #151515;
  border-bottom: 3px solid #151515;
}

main h2 {
  background: var(--section-header);
  border-radius: 0.5rem;
  color: #000;
  text-align: center;
}

main :where(section, h3) {
  padding: 1.5rem 2rem;
}

main ul {
  text-indent: 2rem;
  margin-block: 1rem;
  list-style-type: none;

}

main a:link,
main a:visited {
  color: var(--header-bg);
  display: inline-block;
  margin-inline-end: 1.5px;
}


.card {
  background-color: var(--section-bg);
  backdrop-filter: blur(1.5rem);
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
  padding-block: 1em;
  padding-inline: 1em;
}

.weather-sec {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}

footer {
  text-align: center;
  padding: 1.5rem 1rem;
}


/*
.nav-toggle .hamburger {
  display: block;
  margin: auto;
  border: unset;
  background: unset;
  cursor: pointer;
}

.nav-toggle .hamburger svg {
  stroke: #ffffff;
}

.navbar.open .nav-toggle {
  display: block;
}

.open li {
  display: block;
  width: 100%;
}

.open a {
  display: block;
}

.navbar.open .hamburger .icon-close {
  display: none;
}
@media screen and  (max-width: 650px) {

};
  
*/

/* ----------------------------------------------------------- */
/* Light - dark mode button section */

i {
  cursor: pointer;
  top: 70%;
  float: right;
  transform: translate(-50%, -50%);
}

iframe {
  width: 100%;
}