@media only screen and (min-width: 35em) {
  html {
    font-size: 62.5%;
    padding: .25rem 2vw;
  }

  /* body {} */

  header {
    font-size: var(--fluid-text-3);
  }

  
  main {
    max-width: 150rem;
    padding: 0 5vw;
    margin: 0 auto;
  }

  #hamburger-toggle {
    display: none;
  } 

  ul.navigation, ul.navigation.open {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }

  ul.navigation a:hover {
    background-color: #7b7b7b;
  }

 
  nav {
    max-width: 180rem;
    height: fit-content;
  }

   /*
  nav ul {
    display: flex;
  }

  nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
*/
 

  .info-box {
    grid-template-columns: repeat(3, 1fr);

  }

  figcaption {
    font-size: 2.5rem;
  }

  main h2 {
    text-align: left;
  }

  .activity-sec {
    grid-column: 1/ 3;
  }

  #link-box li {
    padding-top: .10rem;
  }

  .weather-sec {
    grid-column: 3 / 4;
  }

  .map {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
  }

  main ul {
    margin-block: 5rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }

  #menu {
    display: none;
  }

  .navigation li {
    display: block;
  }

}